<% if @projects.empty? %> 
    <div class="empty-state-container">
        <div class="alert alert-info">
            <p>No projects created yet</p>
            <%= link_to new_project_path, class: "btn btn-success" do %>
                <i class="fa fa-plus"></i>
                Create Project
            <% end %>
        </div>
    </div>
<% end %>

<% @projects.each do |project| %>
    <h3><%= project.title %></h3>
<% end %>
