/* 
This file is for styling elements that will be present throughout the entire application.
*/

$black: #000;
$white: #fff;
$green: #5cb85c;
$grey: #808080;
$whitesmoke: rgba(245, 245, 245, 0.75);
$red: #fcc;
$semi-transparent: rgba(0,0,0,0.25);
$placeholder_colour: #00fff5; // Colour to use until I find the right colour for element

body
{
    font-family: 'Open Sans', sans-serif;
}

.main-header
{
    .container-fluid
    {
        padding: 0 25px;
    }
    
    #logo
    {
        text-transform: uppercase;
        font-size: 28px;
        font-weight: 700;
        padding: 5px 0;
        letter-spacing: 2.5px;
        float: left;
        
        a
        {
            text-decoration: none;
            color: $black;
            
            &:hover
            {
                color: $placeholder_colour;
            }
        }
    }
    
        
    .navbar-toggle
    {
        font-size: 22px;
        float: right;
        padding: 0 5px;
    }
        
    .navbar-nav
    {
        li
        {
            a
            {
                font-size: 15px;
                text-transform: uppercase;
                    
                &:hover
                {
                    color: $placeholder_colour;
                }
            }
        }
    }
}

.empty-state-container
{
    .alert
    {
        text-align: center;
    }
    
    .btn
    {
        width: 250px;
    }
    
    p
    {
        font-size: 18px;
        margin: 0 0 10px 0;
    }
}

.form-container
{
    margin: 0 auto;    
    padding: 100px 0;
    width: 85%;
    
    input[type="text"], input[type="email"], input[type="password"]
    {
        padding: 20px;
    }
    
    textarea
    {
        padding: 15px;
    }
    .btn
    {
        margin: 25px 0 0 0;
    }
}

//Class for nav options in main container body (not navbar)
.internal-nav
{
    font-size: 16px;
    font-weight: 700;
    color: $grey;
    
    &:hover
    {
        text-decoration: none;
        color: darken($grey, 25%);
    }
}

.jumbotron
{
    margin-top: -20px;
    background-color: darken($placeholder-colour, 25%);
    padding: 0px;
    
    .container
    {
        width: 100%;
        background-color: $semi-transparent;
        padding: 25px;
    }
    
    .internal-nav
    {
        color: lighten($grey, 40%);
        
        &:hover
        {
            color: lighten($grey, 25%);
        }
    }
    
    .jumbotron-links
    {
        float: right;
        text-transform: uppercase;
        
        .edit-link
        {
            padding: 5px;
            border: 2px solid darken($green, 10%);
            border-radius: 100px;
            font-weight: bold;
            color: $white;
            background-color: $green;
            margin-left: 5px;
            
            &:hover
            {
                text-decoration: none;
                background-color: darken($green, 10%);
            }
        }
        
        .delete-link
        {
            padding: 5px;
            width: 250px;
            border: 2px solid darken($red, 50%);
            border-radius: 100px;
            font-weight: bold;
            color: $white;
            background-color: darken($red, 35%);
            margin-left: 5px;
            
            &:hover
            {
                text-decoration: none;
                background-color: darken($red, 50%);
            }
        }
    }
    
    h2
    {
        color: $white;
        font-weight: 700;
        text-align: center;
    }
    
    .well
    {
        margin-top: 25px;
        background-color: lighten($grey, 40%);
        
        p
        {
            font-size: 16px;
            line-height: 30px;
        }
    }
}

.btn-container
{
    margin: 0 auto;
    width: 250px;
    
    .btn
    {
        border-radius: 50px;
        border: 2px solid $placeholder_colour;
        background: darken($placeholder_colour, 10%);
        padding: 10px 0;
        color: $white;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
        &:hover
        {
            background: darken($placeholder_colour, 20%);
        }
    }
}

/* Font Awesome Icon class modifications */
.fa-plus, .fa-arrow-left
{
    padding: 0 5px 0 0;    
}

/* Base Bootstrap class modifications */
.btn-success
{
    color: $white;
    background-color: $green;
    border-color: darken($green, 10%);
    
    &:hover
    {
        background-color: darken($green, 10%);
    }
}

// For medium and large screen sizes (according to Bootstrap grid screen size measurements)
@media (min-width: 992px)
{
    .jumbotron
    {
        .container
        {
            width: 75%;
        }
    }
}