// Place all the styles related to the Project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-container
{
    //text-align: center;
    
    a
    {
        text-decoration: none;
        color: $black;
    }
    
    .media
    {
        margin: 25px 0 25px 0;
        padding: 20px;
        height: 150px;
        border: 2px solid $black;
        
        .media-heading
        {
            font-size: 16px;
            font-weight: bold;
        }
        
        .media-body
        {
            .internal-project-link
            {
                &:hover
                {
                    color: $placeholder_colour;
                }
            }
            
            .fa-plus
            {
                padding: 0 0 0 0;
            }
        }
        
        &:hover
        {
            .media-heading
            {
                color: $placeholder_colour;     
            }
            
            border-color: $placeholder_colour;
        }
    }
}

// Stlye for jQuery and Best-In_Place purr notifications
.purr
{
    position: absolute;
    top: 100px;
    right: 100px;
    width: 250px;
    padding: 20px;
    background-color: $red;
    border: 2px solid darken($red, 25%);
    text-align: center;
    font-weight: bold;
    &:first-letter { text-transform: uppercase; }
}

// For small screen sizes (according to Bootstrap grid screen size measurements)
@media (max-width: 768px)
{
    .purr 
    {
      position: fixed;
      top: 2.5%;
      right: 0;
      left: 0;
      width: 250px;
      padding: 10px;
      margin: 5% auto;
      background-color: #fcc;
      border: 2px solid #ff4d4d;
      text-align: center;
      font-weight: bold;
    }
}