// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topic-container
{
    a, .btn-default
    {
        text-decoration: none;
        color: $black;
    }
    
    .thumbnail
    {
        height: 200px;
        padding: 0;
        background-color: $whitesmoke;
        
        .empty-description
        {
            margin-bottom: 70px;    
        }
        
        .thumb-button-list
        {
            margin: 10px 0 0 0;
            
            a
            {
                text-decoration: none;
                color: $white;
            }
            
            .btn-danger
            {
                float: right;
            }
        }
    }
    
}

.subtopics-container
{
    .panel-heading
    {
        padding: 0;
        
        .panel-title
        {
            padding: 5px 0 5px 10px;
            
            &:hover
            {
                background-color: lighten($grey, 25%);
                
                a
                {
                    text-decoration: none;
                }
            }
        }
    }
    
    .panel-body
    {
        .panel-body-content
        {
            border-bottom: 2px solid lighten($grey, 25%);
            padding-bottom: 5px;
        }
    }
    
    .panel-footer
    {
        .panel-footer-links
        {
            // border-bottom: 2px solid $grey;
            // padding-bottom: 10px;
            
            .btn-danger
            {
                float: right;
            }
        }
    }
}

.item-preview-container
{
    margin-top: 25px;
    
    .thumbnail
    {
        background: $whitesmoke;
        
        .header-link 
        { 
            float: right;
            font-size: 18px;
            margin: 5px 5px 0 0;
        }
        
        .empty-description
        {
            margin-bottom: 50px;
        }
    }
    
    .caption
    {
        padding: 0 10px;
        h5 
        { 
            // font-size: 14px; 
            font-weight: bold; 
        }
    }
    
    .item-preview-thumb-button-list
    {
        .btn
        {
            padding: 5px;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: bold;
        }
        
        .btn-danger 
        { 
            float: right;
            padding: 5px 10px;
        }
    }
}

.item-redirect-container
{
    text-align: center;
    font-size: 20px;
    margin: 0 0 15px 0;
    
    a
    {
        padding: 10px 75px;
        border-radius: 25px;
        background: darken($whitesmoke, 10%);
        color: $black;
        text-decoration: none;
        
        &:hover
        {
            //text-decoration: none;
            background: darken($whitesmoke, 20%);
        }
    }
}