// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topic-container
{
    a, .btn-default
    {
        text-decoration: none;
        color: $black;
    }
    
    .thumbnail
    {
        height: 200px;
        padding: 0;
        background-color: $whitesmoke;
        
        .empty-description
        {
            margin-bottom: 70px;    
        }
        
        .thumb-button-list
        {
            margin: 10px 0 0 0;
            
            a
            {
                text-decoration: none;
                color: $white;
            }
            
            .btn-danger
            {
                float: right;
            }
        }
    }
    
}

.subtopics-container
{
    .panel-heading
    {
        padding: 0;
        
        .panel-title
        {
            padding: 5px 0 5px 10px;
            
            &:hover
            {
                background-color: lighten($grey, 25%);
                
                a
                {
                    text-decoration: none;
                }
            }
        }
    }
    
    .panel-body
    {
        .panel-body-content
        {
            border-bottom: 2px solid lighten($grey, 25%);
            padding-bottom: 5px;
        }
    }
    
    .panel-footer
    {
        .panel-footer-links
        {
            // border-bottom: 2px solid $grey;
            // padding-bottom: 10px;
            
            .btn-danger
            {
                float: right;
            }
        }
    }
}